.homepage {

    .homepage__hero-section {
        bottom: 0;
        height: 97vh !important;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .homepage__hero {
        background: url('http://35.224.88.175/sites/default/files/2018-11/17_444_FABLAB_B%26W.jpg') no-repeat fixed center / cover;
        bottom: 0;
        display: block;
        height: 75vh;
        left: 0;
        position: fixed;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 0;

        @media (min-width: 912px) {
            height: 98vh;
        }

        .homepage__hero--headline {
            background: $pink;
            font-size: 4vw;
            right: 12%;
            letter-spacing: .4vw;
            line-height: auto;
            margin: 0;
            opacity: 0.9;
            position: relative;
            text-align: left;
            text-transform: uppercase;
            top: 25vh;
            color: $white;
            padding: 0 15px;
            display: block;
            right: 40%;
            text-align: right;
            opacity: 0.8;
        }
    }

    .homepage__content {
        margin-top: 75vh;
        background: $white;
        position: relative;

        @media (min-width: 992px) {
            margin-top: 98vh;
        }
    }

    .homepage-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 0;

        @media (min-width: 992px) {
            flex-wrap: nowrap;
            padding: 0;
            margin-bottom: 598px;
        }
    }

    .homepage-tab {
        flex: 1 1 100%;
        flex-wrap: wrap;
        position: relative;


        @media (min-width: 769px) {
            flex: 0 1 50%;
            position: static;
        }

        @media (min-width: 992px) {
            flex: 1 1 25%;

            &:last-child {
                margin: 0;
            }

            &.hover {
                .homepage-tab__content {
                    display: flex;
                    transition: all ease 0.5s;
                    opacity: 1;
                }
            }
        }

        &--1 {
            background: $black;

            .homepage-tab__content,
            .homepage-tab__text-container,
            .homepage-tab__video {
                background: $black;

                @media (min-width: 769px) {
                    .homepage-tab__video {
                        order: 2;
                    }

                    .homepage-tab__text-container {
                        order: 1;
                    }
                }
            }

            @media (min-width: 769px) and (max-width: 991px) {
                .homepage-tab__video {
                    position: absolute;
                    right: -100%;
                    left: auto;
                    height: 100%;
                    width: 100%;

                    iframe {
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }

        &--2 {
            background: $pink;

            .homepage-tab__content,
            .homepage-tab__text-container,
            .homepage-tab__video {
                background: $pink;
            }

            @media (min-width: 769px) {
                .homepage-tab__video {
                    order: 2;
                }

                .homepage-tab__text-container {
                    order: 1;
                }
            }

            @media (min-width: 769px) and (max-width: 991px) {
                .homepage-tab__video {
                    position: absolute;
                    left: -100%;
                    right: auto;
                    height: 100%;
                    width: 100%;

                    iframe {
                        position: absolute;
                        top: 0;
                    }
                }
            }

        }

        &--3 {
            background: $green;

            .homepage-tab__content,
            .homepage-tab__text-container,
            .homepage-tab__video {
                background: $green;
            }

            @media (min-width: 769px) and (max-width: 991px) {
                .homepage-tab__video {
                    position: absolute;
                    right: -100%;
                    left: auto;
                    height: 100%;
                    width: 100%;

                    iframe {
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }

        &--4 {
            background: $blue;

            .homepage-tab__content,
            .homepage-tab__text-container,
            .homepage-tab__video {
                background: $blue;
            }

            @media (min-width: 769px) {
                .homepage-tab__video {
                    order: 2;

                    .homepage-tab__text-container {
                        order: 1;
                    }
                }
            }

            @media (min-width: 769px) and (max-width: 991px) {
                .homepage-tab__video {
                    position: absolute;
                    left: -100%;
                    right: auto;
                    height: 100%;
                    width: 100%;

                    iframe {
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }

        &__title {
            border: none;
            color: $white;
            display: flex;
            flex-direction: column;
            font-size: 8vw;
            font-weight: 500;
            justify-content: center;
            line-height: 1.2;
            margin: auto auto auto 0;
            min-height: 200px;
            outline: none;
            padding: 40px;
            position: relative;
            text-align: left;
            text-decoration: none;

            @media (min-width: 420px) {
                font-size: 6vw;
            }

            @media (min-width: 590px) {
                font-size: 4vw;
            }

            @media (min-width: 769px) {
                font-size: 3vw;
            }

            @media (min-width: 992px) {
                font-size: 2vw;
            }
        }

        &__cta {
            font-size: .9rem;
            color: $white;
            margin-bottom: -30px;
            text-transform: uppercase;
        }


        &__content {
            position: relative;
            right: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            transition: all ease 0.5s;
            height: auto;
            max-height: 0;

            @media (min-width: 769px) {
                flex-direction: row;
                height: 600px;
                padding: 0;
            }

            @media (min-width: 769px) and (max-width: 991px) {
                visibility: hidden;
                height: 0;
                transition: visibility 0;
                transition: max-height ease 0.5s;
                transition: height ease 0.5s;
            }

            @media (min-width: 992px) {
                max-height: unset;
                transition: all ease 0.5s;
                display: none;
                position: absolute;
            }
        }

        &.tabOpen .homepage-tab__content {
            @media (max-width: 768px) {
                max-height: 1000px;
                transition: all ease 0.5s;
            }

            @media (min-width: 769px) and (max-width: 991px) {
                visibility: visible;
                max-height: unset;
                transition: all ease 0.5s;
                height: 660px;

                .homepage-tab__text {
                    transition: font-size ease 0.5s;
                    font-size: 1.4rem;
                    line-height: 1.5;
                }
            }
        }

        &__video {
            flex: 1 1 100%;
            flex-direction: column;
            display: flex;
            align-items: center;
            order: 1;
            position: relative;
            padding: 25px 0 47.25%;
            height: 0;

            @media (min-width: 769px) and (max-width: 991px) {}

            @media (min-width: 992px) {
                height: auto;
                flex: 1 1 50%;
                padding: 0;
            }
        }

        &__video iframe {
            width: 100%;
            height: 100%;

            @media (max-width: 768px) {
                position: absolute;
                top: 0;
                left: 0;
            }

            @media (min-width: 769px) {
                padding: 60px 40px;
            }
        }

        &__text-container {
            padding: 30px 0;
            color: $white;
            flex: 1 1 100%;
            flex-direction: column;
            display: flex;
            align-items: center;
            order: 2;

            @media (min-width: 769px) {
                padding: 30px;
                flex: 1 1 50%;
            }

            @media (min-width: 992px) {
                flex: 1 1 50%;
                transition: all ease 0.5s;
            }

            p {
                margin: 25px auto 25px 0;

                @media (min-width: 769px) {
                    margin: auto auto 25px 0;
                }
            }

            .homepage-tab__text {
                color: $white;
                text-align: left;
                font-family: 'PT Serif', serif;
                font-size: 1.1rem;
                line-height: 1.4;
                max-width: 90%;
                margin: 0 auto auto 0;
                transition: all ease 0.5s;

                @media (min-width: 769px) and (max-width: 991px) {
                    font-size: 0;
                    line-height: 0;
                    transition: font-size ease 0.5s;
                }

                @media (min-width: 992px) {
                    transition: all ease 0.5s;
                    font-size: 1.4rem;
                    line-height: 1.5;
                }
            }
        }

        &__btn {
            color: $white;
            border: 1px solid $white;
            padding: 10px 20px;
            font-size: 1.4rem;
            font-weight: 500;
            border-radius: 10px;
        }
    }
}


.block-views-blockupcoming-events-block-1 {
    margin-bottom: -1px;

    nav.slick__arrow {
        display: none;
    }

    article {
        position: relative;
        padding-top: 56.35%;
        overflow: hidden;
        margin-bottom: -11px;

        .field--name-field-date {
            position: absolute;
            top: 35px;
            right: 45px;
            z-index: 2;
            color: $white;
            width: 30px;
            font-size: .8rem;
            line-height: 1.2;

            &::before {
                content: "";
                background: $black;
                width: 75px;
                height: 75px;
                position: absolute;
                border-radius: 50%;
                z-index: -1;
                top: -12px;
                right: -18px;
            }
        }

        header {
            position: absolute;
            right: 25px;
            bottom: 15px;
            z-index: 2;

            a {
                color: $white;
                font-size: 1.4rem;

                @media (min-width: 992px) {
                    font-size: 2rem;
                }

                &:hover {
                    color: $white;
                    border-bottom: 2px solid $white;
                }
            }
        }

        .field--name-field-description {
            position: absolute;
            right: 25px;
            bottom: 45px;
            z-index: 2;
            color: $pink;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;

            @media (min-width: 992px) {
                font-size: 1rem;
                bottom: 60px;
            }
        }

        img {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
            left: 0;
            z-index: 1;
            width: 100%;
        }
    }

    .field--type-image img,
    .field--name-user-picture img,
    .node .field--type-image,
    .content {
        margin: 0 !important;
    }

    #slick-views-upcoming-events-block-1-1 {
        position: relative;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        background: transparent;
        border: none;
        color: transparent;
        transition: all ease 0.3s;
        z-index: 10;


        &::before {
            content: "";
            opacity: 0.3;
            height: 9vh;
            width: 7vw;
            display: block;
            transition: all ease 0.4s;
            content: url('/themes/cvad/images/chevron.svg');
        }

        &:hover {
            &::before {
                opacity: 0.8;
            }
        }
    }

    .slick-prev {
        left: 1%;
    }

    .slick-next {
        right: 1%;

        &::before {
            transform: rotate(180deg);
        }
    }
}